/*=============== Custome font=============== */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

@import url("utility.css");
@import url("header.css");
@import url("hero.css");
@import url("players.css");
@import url("video.css");
@import url("news.css");
@import url("footer.css");
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
	section,
	header,
	article {
		padding: 0 1rem !important;
	}
	header {
		display: block;
	}
	header nav .bar {
		display: block;
	}
	header nav .bar .fas {
		font-size: 2rem;
		cursor: pointer;
	}
	header nav ul {
		display: none;
	}
	header nav button {
		height: 32px;
		width: 90px;
		font-size: 1.2rem;
	}
	.hero {
		height: auto;
		display: grid;
		grid-template-columns: 1fr;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.hero .heroPlayer {
		padding-bottom: 5rem;
	}
	.hero .title {
		text-align: left;
		margin-bottom: 5rem;
	}
	.hero .title h1 {
		font-size: 5.4rem;
	}
	.hero .heroPlayer .wrape {
		width: auto;
		margin-left: auto;
	}
	/*==================== articl section ==================== */
	article {
		margin: 4rem 0;
	}
	article .container {
		padding: 0 1rem;
		display: grid;
		grid-template-columns: 1fr;
		justify-content: center;
		align-items: center;
	}
	article .container .card {
		height: auto;
		width: auto;
		padding: 0.5rem;
	}
	article .container .card .cardImg {
		height: 50%;
		width: 100%;
	}
	article .container .card .cardTitle {
		padding: 1.3rem;
	}
	article .container .card .cardTitle h1 {
		font-size: 1rem;
	}
	article .container .card .cardTitle .playersName {
		margin: 1rem 0 0rem 0;
	}
	article .container .card .cardTitle p {
		font-size: medium;
	}
	/*==================== video section ==================== */
	.video {
		height: auto;
	}
	.video .videoContainer {
		grid-template-columns: 1fr;
		justify-content: center;
		align-items: center;
	}
	/*==================== news section ==================== */
	.news-container {
		height: auto;
		margin-bottom: 3rem;
	}
	.news-container .news-title h1 {
		font-size: 2rem;
	}
	.news-container .news-card-container {
		height: auto;
		grid-template-columns: 1fr;
	}
	.news-container .news-card-container .newsCard {
		width: auto !important;
	}
	.news-container .news-card-container .newsCard .newsHeading {
		margin-top: 1rem;
		gap: 0rem;
	}
	.news-container .news-card-container .newsCard .newsHeading span {
		color: var(--main-p-color);
		font-size: 1.8rem;
	}
	.news-container .news-card-container .newsCard .newsHeading h1 {
		font-size: 1.8rem;
		margin: 0.5rem 0;
	}

	/*==================== footer section ==================== */
	footer {
		margin: 4rem 0 1rem 0;
	}
	footer .logo {
		width: 150px;
		height: 63px;
	}
	footer .socialIcon i {
		height: 30px;
		background-color: #ece2e2;
		line-height: 30px;
		width: 30px;
		text-align: center;
		border-radius: 50%;
		color: var(--main-p-color);
		font-size: 1.5rem;
		cursor: pointer;
	}
}
/* tablate */
@media only screen and (min-width: 577px) and (max-width: 768px) {
	section,
	header,
	.container {
		padding: 0 4rem;
	}
	header nav ul {
		display: none;
	}
	header nav .bar {
		display: block;
	}
	header nav .bar i {
		font-size: 2.5rem;
	}
	.hero {
		height: calc(70vh - 10vh);
	}
	.hero .title h1 {
		font-size: 4rem;
	}
	.hero .heroPlayer .wrape {
		width: 90%;
	}
	article .container {
		grid-gap: 3rem;
	}
	article .container .card {
		height: 464px;
		width: auto;
	}
	article .container .card .cardTitle .playersName {
		font-size: 2.5rem;
		margin: 0;
	}
	article .container .card .cardTitle .playersDescip {
		font-size: 15px;
	}
	article .container {
		grid-template-columns: 1fr 1fr;
	}
	.video .videoContainer {
		grid-template-columns: 1fr;
	}
	.news-container .news-card-container {
		grid-template-columns: repeat(2, 1fr);
		justify-content: center;
		align-items: center;
	}
	.news-container .news-card-container .newsCard {
		width: auto;
	}
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
	section,
	header,
	.container {
		padding: 0 5rem;
	}
	.hero {
		height: calc(80vh - 10vh);
	}
	.hero .title h1 {
		font-size: 5rem;
	}
	.hero .heroPlayer .wrape {
		height: auto;
		width: 100%;
		margin-left: auto;
	}
	article .container {
		grid-template-columns: 1fr 1fr;
		grid-gap: 2rem;
	}
	.video .videoContainer {
		grid-template-columns: 1fr;
	}
	.news-container .news-card-container {
		grid-template-columns: repeat(2, 1fr);
		justify-content: center;
		align-items: center;
	}
	.news-container .news-card-container .newsCard {
		width: auto;
	}
}

@media (min-width: 1025px) and (max-width: 1200px) {
	.hero .title h1 {
		font-size: 7rem;
	}
	.hero .heroPlayer .wrape {
		width: auto;
	}
	article .container {
		grid-gap: 2rem;
	}
	.news-container .news-card-container .newsCard {
		width: auto;
	}
	article .container .card {
		width: auto;
	}

	article .container .card .cardTitle .playersName {
		font-size: 2.5rem;
		margin: 0;
		color: black !important;
	}
}
/* Large devices (larger desktops, 1400px and up) */
@media (min-width: 1440px) {
	section,
	header,
	.container {
		padding: 0 30rem;
	}
	article {
		margin: 10rem 0;
	}
	article .container {
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 5rem;
	}
	article .container .card {
		height: auto;
		width: auto;
		padding: 15px;
	}
}
