
/* ================video section================ */
.video {
	text-align: center;
	height: auto;
	width: 100%;
	margin: 6rem 0;
}

.video h1 {
	text-align: center;
	display: block;
	margin: 5rem 0;
	font-size: 4rem;
	text-transform: capitalize;
	display: block;
	position: relative;
}

.video h1:after {
	position: absolute;
	height: 2px;
	width: 50px;
	left: 50%;
	bottom: -6px;
	content: "";
	background: #000;
	transform: translate(-50%, -50%);
	margin-top: 1rem;
}

.video .videoContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 2rem;
}

.video .videoContainer .video-1 {
	height: 320px;
	width: auto;
	box-shadow: 1px 1px 20px #d0cecb;
	overflow: hidden;
}

.video .videoContainer .video-1 iframe {
	padding: 1rem;
}
